@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200;1,700&display=swap');

*,::after,::before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ol[role=list],ul[role=list]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}

.App {
  min-height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 0;
} 

.App:after {
  content: "";
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.double-column {
  display: flex;
  flex-direction: column;
  width: 64%;
}

.cc__title .column {
  width: 100%;
}

h1, h2, h3, h4, h5, p {
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

h1 {
  font-size: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

h2 {
  font-size: 48px;
  background: rgb(255,113,206);
  background: radial-gradient(circle, rgba(255,113,206,1) 0%, rgba(1,205,254,1) 49%, rgba(5,255,161,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 52px;
  margin-bottom: 15px;
  letter-spacing: 5px;;
}

.cc__newsfeed, .cc__main {
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 15px;
  padding-bottom: 30px;
}

.cc__newsfeed-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cc__newsfeed-list li {
  margin-top: 15px;
}

.cc__newsfeed-list a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  background: rgb(255,113,206);
  background: radial-gradient(ellipse at left bottom, rgba(255,113,206,1) 0%, rgba(1,205,254,1) 49%, rgba(5,255,161,1) 100%);
  padding: 15px;
  display: block;
  border-radius: 15px 0;
  margin-top: 15px;
  font-family: 'Roboto Mono', monospace;
  transition: 0.2s linear;
}

.cc__newsfeed-list a:hover {
  padding-left: 30px;
}

@media screen and (max-width:900px){
  .column, .double-column {
    width:100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:750px){
  h1 {
    font-size: 48px;
  }
}